<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{meta.apiUrl}}/certificates/assets/certificate.css" />
  <title>{{meta.title}}</title>
</head>

<body>
  <article role="document" class="b__document">
    {{!-- operator's section --}}
    <aside class="b__aside"></aside>

    {{!-- registry section --}}
    <article class="b__article">
      <header class="b__header">
        <div class="b__column b__column--left">
          <img src="{{meta.apiUrl}}/certificates/assets/marianne.svg" alt="Marianne" class="img--marianne" />
        </div>
        <div class="b__column b__column--right">
          <h1 class="h--subtitle">{{meta.title}}</h1>
          <h2 class="h--title">{{territory.name}}</h2>
          <ul class="list--unstyled">
            <li><strong>Date d'émission</strong>&nbsp;: {{certificate.created_at}}</li>
            <li><strong>Opérateur</strong>&nbsp;: {{operator.name}}</li>
          </ul>
        </div>
      </header>
      <main class="b__main">
        <div class="b__column b__column--full text--center">
          Période&nbsp;: du {{certificate.start_at}} au {{certificate.end_at}}
        </div>
        <table role="table" class="table--full-alternate">
          <tbody>

            {{#each data.rows}}
            <tr>
              <td>{{this.month}}</td>
              <td>{{this.distance}}&nbsp;km</td>
            </tr>
            {{/each}}

            <tr>
              <td><strong>Total</strong></td>
              <td><strong>{{data.total_km}}&nbsp;km</strong></td>
            </tr>
          </tbody>
        </table>
        <div class="b__column b__column--full b__column--data">
          <p>
            <strong>Coût total</strong>&nbsp;: {{data.total_cost}}€
            <strong>Reste à charge</strong>&nbsp;: {{data.remaining}}€
          </p>
          <p class="text--italic">
            Un problème&nbsp;? Une question&nbsp;? Contactez-nous sur
            <a href="{{meta.contact.url}}">{{meta.contact.url}}</a>.
          </p>
        </div>
      </main>
      <footer class="b__footer">
        <h4 class="h--identification">Identification de l'attestation</h4>
        <ul class="list--unstyled list--uuid">
          <li class="text--italic">Personne&nbsp;: {{identity.uuid}}</li>
          <li class="text--italic">Opérateur&nbsp;: {{operator.uuid}}</li>
          <li class="text--italic">Collectivité&nbsp;: {{territory.uuid}}</li>
        </ul>

        {{!-- QR-code with verification URL --}}
        <div class="qr-code">{{{validation.qrcode}}}</div>

        <p class="qr-code--label">Vérifiez la validité de cette attestation sur {{validation.url}}</p>
      </footer>
    </article>
  </article>
</body>

</html>